$white0: hsl(0, 0%, 0%);
$white20: hsl(0, 0%, 20%);
$white40: hsl(0, 0%, 40%);
$white60: hsl(0, 0%, 60%);
$white80: hsl(0, 0%, 80%);
$white100: hsl(0, 0%, 100%);

$primery: #ffcc4b;

$confirmColor: #269e08;
$warnColor: #e99e2d;
$errColor: #b12613;
